<app-hiring-partner></app-hiring-partner>

<body class="body">
<div class="container w-75 mt-5">
  <div class="faq-title text-center mb-4">
    <h1 class="fw-bold">Frequently Asked Questions?</h1>
  </div>
  <div class="accordion" id="faqAccordion">
    <div class="accordion-item" *ngFor="let faq of faqs; let i = index">
      <h2 class="accordion-header" [id]="'heading' + i">
        <button
          class="accordion-button"
          [class.collapsed]="activeIndex !== i"
          (click)="toggleFaq(i)"
          [attr.aria-expanded]="activeIndex === i"
          [attr.aria-controls]="'collapse' + i"
        >
          {{ faq.question }}
        </button>
      </h2>
      <div
        class="accordion-collapse"
        [class.collapse]="activeIndex !== i"
        [class.show]="activeIndex === i"
        [id]="'collapse' + i"
        role="region"
      >
        <div class="accordion-body">
          {{ faq.answer }}
        </div>
      </div>
    </div>
  </div>
</div>
</body>