<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>


<div class="background-image">
  <div class="login-container">
    <div class="close-btn" (click)="navigateToHome()">&#x2715;</div>
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      
      <!-- Username Field -->
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="Enter your username"
      />
      <div *ngIf="submitted && f['username'].errors" class="error">
        <div *ngIf="f['username'].errors['required']">Username is required</div>
      </div>
      
      <!-- Password Field -->
<label for="password">Password</label>
<div style="position: relative;">
  <input [type]="passwordFieldType" id="password" formControlName="password" placeholder="Enter your password" style="padding-right: 40px;"  />
  <i
    class="eye-icon"
    [class]="passwordFieldType === 'password' ? 'fa fa-eye' : 'fa fa-eye-slash'"
    (click)="togglePasswordVisibility()"
    style="
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      font-size: 18px;
      color: rgb(68, 58, 58);
    "
  ></i>
</div>
<div *ngIf="submitted && f['password'].errors" class="error">
  <div *ngIf="f['password'].errors['required']">Password is required</div>
</div>

      
      <!-- Incorrect username/password message -->
      <div *ngIf="loginFailed" class="error">
        Incorrect username or password. Please try again.
      </div>
      
      <!-- Login Button -->
      <button type="submit">Login</button>

      <!-- Forgot Password Link -->
      <button type="button" class="forgot-password" (click)="navigateToAdminLogin() ">Admin Login?</button>
    </form>
  </div>
</div>
