<div class="password-reset-form">
    <div class="close-btn" (click)="navigateToHome()">&#x2715;</div>
    
    <h2>Reset Password</h2>
    <form (ngSubmit)="resetPassword()">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="userEmail" name="email" required />
      </div>
      <div>
        <label for="otp">OTP:</label>
        <input type="text" id="otp" [(ngModel)]="otp" name="otp" required />
      </div>
      <div>
        <label for="password">New Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required />
      </div>
      <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required />
      </div>
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
      <button type="submit">Reset Password</button>
    </form>
  </div>
  