<div class="container-fluid" [class.sidebar-open-content]="sidebarOpen">
  <div class="row">
    <!-- Sidebar -->
    <nav class="col-4 col-md-4 col-lg-2 sidebar sticky-top" [class.sidebar-open]="sidebarOpen">
      <div class="text-center my-3">
        <img src="../../../assets/AchaJobs.png" width="120" alt="" />
      </div>
      
      <!-- Edit Admin Button in Sidebar -->
      <div class="d-flex justify-content-center my-1">
        <button class="btn btn-primary" [routerLink]="['/editadmin', adminId]">Edit Admin</button>
      </div>
      
      <hr />
      
      <ul class="nav flex-column mx-0">
        <li class="nav-item mb-1">
          <a class="nav-link" [routerLink]="['/save-job']" routerLinkActive="router-link-active">
            <i class="fa fa-briefcase text-warning"></i> Job's
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" [routerLink]="['/internship']">
            <i class="fa-brands fa-wpforms"></i> Internship
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" [routerLink]="['/userslist']">
            <i class="fas fa-envelope text-info"></i> UserList
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" [routerLink]="['/view-all-forms-admin']">
            <i class="fa fa-eye text-info"></i> View Forms
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" [routerLink]="['/adminpanel']">
            <i class="fas fa-folder-open text-danger"></i> Submitted Forms
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" [routerLink]="['/mockinterview']">
            <i class="fas fa-folder-open text-danger"></i> Mock Interview
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" [routerLink]="['/placement']">
            <i class="fas fa-folder-open text-danger"></i> Placement
          </a>
        </li>
      </ul>
    </nav>

    <!-- Main content -->
    <div class="col-8 col-md-8 col-lg-10 p-0">
      

 
<div class="body" >
<div class="container">
    <h1 >Mock Interviews</h1>
 
    <form (ngSubmit)="editing ? updateMockInterview() : createMockInterview()">
      <div>
        <label for="text">Desciption</label>
        <input
          type="text"
          id="text"
          [(ngModel)]="mockInterview.text"
          name="text"
          required
        />
      </div>
      <div>
        <label for="hyperlink">Hyperlink</label>
        <input
          type="text"
          id="hyperlink"
          [(ngModel)]="mockInterview.hyperlink"
          name="hyperlink"
          required
        />
      </div>
      <button type="submit">{{ editing ? 'Update' : 'Create' }}</button>
      <button type="button" (click)="resetForm()" *ngIf="editing">Cancel</button>
    </form>
 
    <hr />
 
    <ul class="mock-list">
      <li *ngFor="let mock of mockInterviews" class="mock-item">
        <div class="text-container">
          <strong>{{ mock.text }}</strong>
          - <a [href]="mock.hyperlink" target="_blank">{{ mock.hyperlink }}</a>
        </div>
        <div class="item-buttons">
          <button class="edit-btn" (click)="editMockInterview(mock)">Edit</button>
          <button class="delete-btn" (click)="deleteMockInterview(mock.id)">Delete</button>
        </div>
      </li>
    </ul>
   
  </div>
</div>