<body style="margin: 0; 
padding: 0; 
height: 35vh; 
width: 100%;
background: linear-gradient(to right, #00d4ff, #a8ff8f, #fff700); 
background-repeat: no-repeat; 
background-attachment: fixed;">
<div class="slider-container">
  <div class="slider" [ngStyle]="{'transform': 'translateX(' + translateX + 'px)'}">
    <img *ngFor="let image of images" [src]="image" class="slider-image" />
  </div>
 
</div>
<div class="dots-container">
  <span
    *ngFor="let image of images; let i = index"
    (click)="goToSlide(i)"
    [class.active]="i === currentIndex"
    class="dot"></span>
</div>
</body>