<div class="course-slider">
  <div class="course-container">
    <!-- Display only the first 3 courses initially -->
    <div class="course-card" *ngFor="let course of displayedCourses(); let i = index">
      <h2 class="course-title">{{ course.title }}</h2>
      <p class="course-description">{{ course.description }}</p>
      <p class="course-duration">{{ course.duration }}</p>
      <p class="learners">{{ course.learners }} Learners</p>
    </div>
    
  <!-- View More Button -->
  <a routerLink="/allcourses" class="view-more-link">
    <button class="view-more-button">View More</button>
    
  </a>

  </div>

</div>
