<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
/>


<!-- <div class="body"> -->
<div class="edit-profile-container">
    <h2>Edit Profile</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="fullName">Full Name</label>
        <input
          id="fullName"
          [(ngModel)]="user.fullName"
          name="fullName"
          required
          placeholder="Enter your full name"
        />
      </div>
      <div>
        <label for="userName">Username</label>
        <input
          id="userName"
          [(ngModel)]="user.userName"
          name="userName"
          readonly
          placeholder="Enter your username"
        />
      </div>
      <div>
        <label for="emailId">Email</label>
        <input
          id="emailId"
          [(ngModel)]="user.emailId"
          name="emailId"
          type="email"
          readonly
          placeholder="Enter your email"
        />
      </div>
      <div>
        <label for="gender">Gender</label>
        <select id="gender" [(ngModel)]="user.gender" name="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div>
        <label for="mobileNo">Mobile Number</label>
        <input
          id="mobileNo"
          [(ngModel)]="user.mobileNo"
          name="mobileNo"
          type="text"
          required
          placeholder="Enter your mobile number"
        />
      </div>
      <!-- Password input (only empty and editable) -->
      <div style="position: relative;">
        <label for="password">Password</label>
        <input
          id="password"
          [type]="passwordFieldType"
          [(ngModel)]="user.password"
          name="password"
          placeholder="Enter new password "
        />
        <i
          class="eye-icon"
          [class]="passwordFieldType === 'password' ? 'fa fa-eye' : 'fa fa-eye-slash'"
          (click)="togglePasswordVisibility()"
        ></i>
      </div>
      
      <!-- Confirm password input (only empty and editable) -->
      <div style="position: relative;">
        <label for="confirmPassword">Confirm Password</label>
        <input
          id="confirmPassword"
          [type]="confirmPasswordFieldType"
          [(ngModel)]="user.confirmPassword"
          name="confirmPassword"
          placeholder="Confirm new password "
        />
        <i
          class="eye-icon"
          [class]="confirmPasswordFieldType === 'password' ? 'fa fa-eye' : 'fa fa-eye-slash'"
          (click)="toggleConfirmPasswordVisibility()"
        ></i>
      </div>
      
      <button type="submit">Save Changes</button>
      <button type="button" (click)="cancel()">Cancel</button>
    </form>
  </div>
<!-- </div> -->