

<!-- Password Reset Section -->

<div class="password-reset-container">
    <div class="close-btn" (click)="navigateToHome()">&#x2715;</div>
    <h2>Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForgotPassword()">
      
      <!-- Email Field -->
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Enter your email address"
      />
      <div *ngIf="submitted && f['email'].errors" class="error">
        <div *ngIf="f['email'].errors['required']">Email is required</div>
        <div *ngIf="f['email'].errors['email']">Enter a valid email address</div>
      </div>
      
      <!-- Error Message for API -->
      <div *ngIf="emailSentFailed" class="error">
        {{ errorMessage }}
      </div>
  
      <!-- Success Message -->
      <div *ngIf="emailSentSuccess" class="success">
        An OTP has been sent to your email address.
      </div>
  
      <!-- Submit Button -->
      <button type="submit">Request OTP</button>
    </form>
  </div>
  