<!-- Bootstrap CSS -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
  rel="stylesheet"
/>

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav class="col-4 col-md-4 col-lg-2 sidebar sticky-top">
      <div class="text-center my-3">
        <img src="../../../assets/AchaJobs.png" width="150" alt="" />
        <h5 class="text-black">Admin</h5>
      </div>
      <hr />
      <ul class="nav flex-column mx-0">
        <li class="nav-item mb-2">
          <a
            class="nav-link"
            [routerLink]="['/save-job']"
            routerLinkActive="router-link-active"
          >
            <i class="fa fa-briefcase text-warning"></i> Job's
          </a>
        </li>

        <li class="nav-item mb-1">
          <a class="nav-link" [routerLink]="['/internship']">
            <i class="fa-brands fa-wpforms"></i> Internship
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link" [routerLink]="['/userslist']">
            <i class="fas fa-envelope text-info"></i> UserList
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link" [routerLink]="['/view-all-forms-admin']">
            <i class="fas fa-envelope text-info"></i> View Forms
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link" [routerLink]="['/adminpanel']">
            <i class="fas fa-folder-open text-danger"></i> Submitted Forms
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link" [routerLink]="['/mockinterview']">
            <i class="fas fa-folder-open text-danger"></i> Mock Interview
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link" [routerLink]="['/placement']">
            <i class="fas fa-folder-open text-danger"></i> Placement
          </a>
        </li>

        <!-- <li class="nav-item mb-2">
          <a class="nav-link" [routerLink]="['/admin-blogs']">
            <i class="fas fa-folder-open text-danger"></i> Blogs
          </a>
        </li> -->
      </ul>
    </nav>

    <!-- Main content -->
    <div class="col-8 col-md-8 col-lg-10 p-0">
      <!-- topbar start -->
      <div class="d-flex justify-content-between align-items-center topbar">
        <div class="d-flex gap-2 align-items-center">
          <i class="fa-solid fa-bars fa-xl"></i>
          <!-- <img src="https://openfuturetechnologies.com/images/logoimg.png" width="150" alt="" /> -->
        </div>
        <div>
          <!-- <i class="fas fa-bell me-3"></i> -->
          <span
            class="dropdown-toggle p-2"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="../../../assets/userimage.png"
              class="rounded-circle img-fluid"
              alt="User"
              style="width: 40px; height: 40px"
            />
            Admin
          </span>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- <li><a class="dropdown-item" href="#">My Profile</a></li> -->
            <li><a class="dropdown-item" href="/">Log Out</a></li>
          </ul>
        </div>
      </div>



<div class="container">
    <h1>Placement Management</h1>
  
    <form (ngSubmit)="isEditing ? updatePlacement() : createPlacement()">
      <label for="text">Desciption:</label>
      <input type="text" id="text" [(ngModel)]="placementForm.text" name="text" required />
  
      <label for="hyperlink">Hyperlink:</label>
      <input
        type="text"
        id="hyperlink"
        [(ngModel)]="placementForm.hyperlink"
        name="hyperlink"
        required
      />
  
      <button type="submit">{{ isEditing ? 'Update' : 'Create' }} Placement</button>
      <button type="button" (click)="resetForm()" *ngIf="isEditing">Cancel</button>
    </form>
  
    <div *ngIf="placements.length > 0">
      <h2>All Placements</h2>
      <ul class="placement-list">
        <li *ngFor="let placement of placements" class="placement-item">
          <strong>{{ placement.text }}</strong> -
          <a [href]="placement.hyperlink" target="_blank">{{ placement.hyperlink }}</a>
          <div class="item-buttons">
            <button (click)="editPlacement(placement)" class="btn edit-btn">
              Edit
            </button>
            <button (click)="deletePlacement(placement.id)" class="btn delete-btn">
              Delete
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  